body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  padding: 1rem;
}

label {
  display: block;
}

input[type="text"],
input[type="email"] {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
  transition: border-color 0.15s box-shadow 0.15s;
}

input[type="text"]:focus,
input[type="email"]:focus {
  border-color: lightskyblue;
  outline: 0;
  box-shadow: 0 0 0 4px rgba(180, 221, 247, 0.25);
}

button {
  background-color: rgb(45, 138, 243);
  color: aliceblue;
  border: 0;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  outline: 0;
}

button:focus {
  border-color: rgb(17, 70, 104);
  outline: 0;
}

.form-group {
  margin-bottom: 1rem;
}
