body {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  background-color: rgb(242, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 100px;
  height: 100px;
  background: rgb(33, 104, 122);
  transition: transform 0.2s ease-out, background 1s;
}

.box:hover {
  transform: rotate(50deg);
  background: chocolate;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
}
