* {
  margin: 0;
}

body {
  font-family: "Arial", Courier, monospace;
  color: rgb(212, 212, 212);
}

.nav {
  background-color: black;
}

ul {
  list-style-type: none;
  text-align: center;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: column;
}

li {
  margin: 10px;
}

@media screen and (min-width: 768px) {
  ul {
    flex-direction: row;
    justify-content: end;
    margin-right: 16px;
  }
}
