body {
  font-family: Arial, Helvetica, sans-serif;
}

.containter {
  display: flex;
  flex-direction: column;
}

.box {
  background-color: gold;
  padding: 1rem;
}

.box:nth-of-type(2) {
  background-color: lightblue;
}

@media screen and (min-width: 900px) {
  .containter {
    flex-direction: row;
  }

  .box:nth-of-type(2) {
    background-color: lightcyan;
  }
}
