*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
}

h1,
h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

p {
  margin: 20;
}

.box {
  background-color: gold;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.box::before {
  content: "ChareHelln";
}

/**Overflow example**/

.box2 {
  border: 5px solid black;
  width: 150px;
  height: 150px;
  overflow: auto;
}

/**Measurment Units*/

.box3 {
  width: 50rem;
  height: 50rem;
  background-color: gold;
  border-top: 10px solid yellow;
}

/*Positioning**/

.boxes {
  border: 3px solid black;
  position: relative;
}

.box-basic {
  width: 10rem;
  height: 10rem;
}

.box-one {
  background-color: gold;
}

.box-two {
  background-color: tomato;
  position: fixed;
  left: 2rem;
  right: 2rem;
  top: 0;
}

.box-three {
  background-color: green;
}

/** Folating - Tweet ***/
.tweet {
  border: 3px solid lightblue;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: grey;
  border-radius: 100px;
  float: left;
  margin-right: 1rem;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/***** Flex box *******/
