.container {
  border: 3px solid lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /**Works only when there are multiple lines**/
  align-content: ;
  height: 90vh;
}

.box {
  flex-basis: 5rem;
  flex-grow: 1;
  width: 5rem;
  height: 5rem;
  background-color: thistle;
  margin: 1rem;
}
