.container {
  display: grid;

  /**3x2 grid*/
  grid-template-rows: 100px auto 100px;
  grid-template-columns: 30fr 70fr;
  grid-template-areas:
    "header header"
    "sidebar main"
    ".     footer";
  gap: 10px;
  border: 3px solid lightblue;
  height: 100vh;
}

.box {
  background-color: gold;
}

.box-one {
  grid-area: header;
}

.box-four {
  grid-area: footer;
}
