:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;

  --color-headings: #1b0760;
  --color-body: #918ca4;
}

html {
  /* Bowsers default size is 16px - Chrome 
      So if we set 62.5% of 16px = 10px */
  font-size: 62.5%;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  color: var(--color-body);
}

h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
}

h1 {
  /* 1 x font size of the html element 
  Now 1 rem = 10 px 
  so, 7rem = 70px*/
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

/*
For desktop;
H1 = 80px / 8 rem
H2 = 40px / 4 rem
H3 = 24px /2.4rem
body = 18px / 1.8rem
Let's write media queries for;
1. screens larger than 1024 px - standard breakpoint.

*/

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }

  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}
