* {
  margin: 0;
}

body {
  font-family: "Arial", Courier, monospace;
  color: grey;
}

h2 {
  margin-top: 24px;
  margin-left: 16px;
}

.container {
  margin-top: 24px;
  display: grid;
  width: 99vw;
  overflow: auto;
  object-fit: scale-down;
}

.image {
  width: 100vw;
  height: 256px;
  padding-bottom: 16px;
}

/*** Actual code *****/

.gallery {
  margin-top: 24px;
  display: grid;
  grid-gap: 10px;
}

img {
  width: 100%;
  border-radius: 5%;
  object-fit: cover;
}

/** Media queries **/

/*** Tablet(768px) */

@media screen and (min-width: 768px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
}
  

/*** Larger screen (+1024px)***/

@media screen and (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    .gallery img:nth-of-type(3) {
        grid-column: 2/4;
        grid-row: 1/3;
    }
}
